/*Header*/
header {
    display: flex;
    flex-direction: row;
    height: 6.25rem;
    padding-left: 2rem;
    padding-right: 2rem;
    background-color: #D6D6D6;
    align-items: center;
    width: 100%;
    color: #263655;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    justify-content: space-between;
}

header p {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 32px;
}

ul{
    display: flex;
    flex-direction: row;
}
li {
    padding-left: 1em;
    padding-right: 1em;
    font-size: 20px;
}

/*HERO*/
main {
    display: flex;
    flex-direction: row;
}

.left-hero-box {
    width: 50%;
    min-height: 55rem;
    background-color: #263655;
}

.right-hero-box {
    width: 50%;
    min-height: 55rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.txt-container {
    display: flex;
    flex-direction: column;
    align-content: space-between;
    margin-left: 15rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.txt-container .text-callout-lrg {
    color: #263655;
    font-size: 96px;
    font-weight: bold;
}

.txt-container .text-callout-md {
    color: #263655;
    font-size: 48px;
    font-weight: bold;
    margin-top: 1rem;
}

.txt-container p {
    color: black;
    font-size: 24px;
    margin-top: 1rem;
}

.txt-container button {
    margin-top: 1rem;
    width: 80%;
    height: 4rem;
    background-color: white;
    color: #263655;
    border-radius: 50px;
    border: none;
    box-shadow: 10px 10px 22px 1px rgba(0,0,0,0.64);
}

/*PROFILE CARD*/
.profile-card {
    z-index: 2;
    position: absolute;
    top: 20%;
    right: 38%;
    width: 437px;
    height: 628px;
    background-color: white; 
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 10px 10px 22px 1px rgba(0,0,0,0.64);
    border-radius: 0 0 20px 20px;
}

.two-tone-card-1{
    width: 100%;
    height: 90%;
    background-color: hsla(220, 38%, 24%, 50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.profile-img {
    width: 250px;
    height: 250px;
    border-radius: 100%;
}

.profile-name {
    margin-top: 4rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
    font-size: 32px;
    font-weight: bold;
}

.profile-title {
    margin-top: 1rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
    font-size: 20px;
    font-weight: bold;
}

.line {
    margin-top: 1rem;
    height: 2px;
    background-color: white;
    width: 60%;
}

.two-tone-card-2 {
    margin-top: 1rem;
    align-items: center;
    color: #263655;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    font-weight: bold;
}

footer {
        display: flex;
        flex-direction: row;
        justify-content: center;
        height: 6.25rem;
        padding-left: 2rem;
        padding-right: 2rem;
        background-color: #D6D6D6;
        align-items: center;
        width: 100%;
        color: #263655;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
