/*Header*/
header {
    display: flex;
    flex-direction: row;
    height: 6.25rem;
    padding-left: 2rem;
    padding-right: 2rem;
    background-color: #D6D6D6;
    align-items: center;
    width: 100%;
    color: #263655;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    justify-content: space-between;
}

header p {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 32px;
}

.navigation-bar{
    display: flex;
    flex-direction: row;
}
.navigation-bar li {
    padding-left: 1em;
    padding-right: 1em;
    font-size: 20px;
}

/*HERO*/


.main-container {
    display: flex;
    flex-direction: row;
}

.left-hero-box {
    width: 50%;
    min-height: 55rem;
    background-color: #263655;
}

.right-hero-box {
    width: 50%;
    min-height: 55rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.txt-container {
    display: flex;
    flex-direction: column;
    align-content: space-between;
    margin-left: 15rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.txt-container .text-callout-lrg {
    color: #263655;
    font-size: 96px;
    font-weight: bold;
}

.txt-container .text-callout-md {
    color: #263655;
    font-size: 48px;
    font-weight: bold;
    margin-top: 1rem;
}

.txt-container p {
    color: black;
    font-size: 24px;
    margin-top: 1rem;
}

.txt-container .button-link {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    width: 80%;
    height: 4rem;
    background-color: white;
    color: #263655;
    border-radius: 50px;
    border: none;
    box-shadow: 10px 10px 22px 1px rgba(0,0,0,0.64);
}

.txt-container .button-link:hover {
    color: white;
    background-color: #263655;
} 

/*PROFILE CARD*/
.profile-card {
    z-index: 2;
    position: absolute;
    top: 20%;
    right: 38%;
    width: 437px;
    height: 628px;
    background-color: white; 
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 10px 10px 22px 1px rgba(0,0,0,0.64);
    border-radius: 0 0 20px 20px;
}

.two-tone-card-1{
    width: 100%;
    height: 90%;
    background-color: hsla(220, 38%, 24%, 50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.profile-img {
    width: 250px;
    height: 250px;
    border-radius: 100%;
}

.profile-name {
    margin-top: 4rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
    font-size: 32px;
    font-weight: bold;
}

.profile-title {
    margin-top: 1rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
    font-size: 20px;
    font-weight: bold;
}

.line {
    margin-top: 1rem;
    height: 2px;
    background-color: white;
    width: 60%;
}

.two-tone-card-2 {
    margin-top: 1rem;
    align-items: center;
    color: #263655;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    font-weight: bold;
}

footer {
        margin-top: 1rem;
        display: flex;
        flex-direction: row;
        justify-content: center;
        height: 6.25rem;
        padding-left: 2rem;
        padding-right: 2rem;
        background-color: #D6D6D6;
        align-items: center;
        width: 100%;
        color: #263655;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* CV */

.hero-banner {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #263655;
    color: white;
    height: 12.5rem;
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 96px;
    font-weight: bold;
}

/*TEXT STYLES */

h2 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    font-size: 48px;
    color: #263655;
    margin: 1rem;
}

h3 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight:500;
    font-size: 24px;
    color: #263655;
    margin: 1rem;
}

p {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 18px;
    margin: 1rem;
    line-height: normal;
}

/* CV Main Left | Right */

.split-container {
    display: flex;
    flex-direction: row;
    margin-top: 2rem;
}

.left-split {
    padding: 2rem;
    align-content: center;
}
.width-60 {
    width: 60%;
}
.width-40 {
    width: 40%;
}
.width-50 {
    width: 50%;
}

.right-split {
    display: flex;
    flex-direction: column;
}
.bg-highlgiht {
    background-color: hsla(220, 38%, 24%, 50%);
    color: white;
    padding: 2rem;
    justify-content: center;
}

.bg-highlgiht h2 {
    color: white;
}


.skills-list, .education-list, .cert-list, .membership-list  {
    flex-direction: column;
    list-style: disc;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-left: 4rem;
    font-size: 18px;
}

.skills-list li, .education-list li, .cert-list li, .membership-list li {
    margin-top: 0.5rem;
}


.role-highlight {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: hsla(220, 38%, 24%, 50%);
    color: white;
    padding: 2rem;
    justify-content: center;
    margin-top: 1rem;
}

.role-highlight h2, .role-highlight h3 {
    color: white;
}

/* MOBILE RESPONSIVE */
@media only screen and (max-width: 800px) {
    .split-container {
        flex-direction: column;
        margin-top: 0.5rem;
    }

    .width-60 {
        width: 100%;
    }
    .width-40 {
        width: 100%;
    }
    .width-50 {
        width: 100%;
    }

    h2 {
        font-size: 36px;
        margin: 1rem;
    }
    
    h3 {
        font-size: 18px;
        margin: 1rem;
    }
    
    p {
        font-size: 12px;
        margin: 1rem;
    }

    form {
        margin: 2rem;
    }

    .skills-list, .education-list, .cert-list, .membership-list  {
        
        margin-left: 2rem;
        font-size: 12px;
    }

    .main-container {
        flex-direction: column;
        align-items: center;
        width: 100%;
        padding: 1rem;
        
    }
    .profile-card {
        position: static;
        width: 90%;
        margin-bottom: 1rem;
    }
    .left-hero-box {
        display: none;
    }
    .right-hero-box {
        align-items: center;
        width: 100%;
        margin: 1rem;
    }

    .txt-container {
        align-items: center;
        text-align: center;
        width: 100%;
        margin: 1rem;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }
    .right-hero-box {
        min-height: 0;
    }
   
  }

  /*Contact Form*/

  label {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight:500;
    font-size: 24px;
    color: #263655;
    margin-bottom: 0.2rem;
    display: block;
  }

  input {
    height: 1.5rem;
    width:  20rem;
    margin-bottom: 1rem;
    border-radius: 10px;
    border: 1px solid #263655;
  }

  form button {
    height: 2.5rem;
    width: 14rem;
    background-color: hsla(220, 38%, 24%, 50%);
    color: white;
    padding: 0.5rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    border-radius: 10px;
    border: 1px solid black
  }

  form button:hover {
    background-color: #263655;
  }

  form button:active {
    border: 2px solid white;
  }

  textarea {
    margin-bottom: 1rem;
  }

  .alt-colour{
    background-color: #263655;
    color: white;
    margin-right: 1rem
  }

  .alt-colour h2, .alt-colour h3, .alt-colour a {
    color: white;
  }

  .alt-colour a {
    text-decoration: underline;
  }